a.navbar-brand {
    transition: all 0.3s;
}
.navbar {
    border-radius: 0;
    border-left: 0;
}
th {
    background-color: #F2F2F2;
}
th.icon {
    width: 80px;
    text-align: center;
}

table.table td, table.table th {
    line-height: 36px !important;
}

th.divider-headline {
    background-color: #FAFAFA;
}