.clear-both {
    clear: both;
}
a.navbar-brand {
    transition: all 0.3s;
}
.navbar {
    border-radius: 0;
    border-left: 0;
}
.brand-margin-left {
    margin-left: 20px !important;
}
th {
    background-color: #F2F2F2;
}
th.icon {
    width: 80px;
    text-align: center;
}

table.table td, table.table th {
    line-height: 36px !important;
}

th.divider-headline {
    background-color: #FAFAFA;
}
div.divider-headline {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    line-height: 50px;
    background-color: #FAFAFA;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #636b6F;
}

div.image-line {
    line-height: 30px;
    margin: 10px 0;
}
.spacer {
    clear: right;
    padding-top: 15px;
}

/* text messages */
.text-message {
    padding: 10px;
    color: white;
    border-radius: 12px;
    width: 45%;
    margin-bottom: 10px;
    position: relative;
}
.text-from-number {
    background-color: #00BB00;
    clear: right;
}
.text-from-protagonist {
    background-color: #BBB;
    float: right;
    margin-left: 20%;
}
.text-image {
    width: 100%;
    border-radius: 6px;
}
.control-buttons {
    position:absolute;
    top:5px;
    right:5px;
    display:none;
}
.control-buttons > div:nth-child(1) {
    padding-right:10px;
}
.control-buttons > div {
    float:left;
}
.texts-form, .photos-form, .phonelog-form {
    border-top: #999 1px solid;
    padding-top: 20px;
}

/* text messages write message */
.texts-form {
    border-top: #999 1px solid;
    padding-top: 20px;
}
.text-textarea {
    height: 100px;
}
.new-text {
    margin-right: 10px;
}

/* Photos */
.photos-image-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.more-button {
    margin-top: 7px;
}
.image-time-container {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    padding: 3px;
}