#app {
  display: flex;
  align-items: stretch;
}

#sidebarCollapse {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 8px;
    padding: 0px 4px;
    background-color: #222;
    border: 0;
}

#sidebarCollapse:hover {
    background-color: #292929;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #222;
  color: #fff;
  transition: all 0.3s;
}

#sidebar h3 {
    margin-top: 30px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  background: #393939;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded="true"] {
  color: #fff;
  background: #222;
}

#sidebar a[aria-expanded="false"]::before,
#sidebar a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

#sidebar a[aria-expanded="true"]::before {
  content: '\e260';
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #292929;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
/*
#sidebar a.download {
  background: #fff;
  color: #7386D5;
}*/

#sidebar a.article,
#sidebar a.article:hover {
  color: #fff !important;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
.container {
    width: auto;
}